@model IEnumerable<Shopping.Models.SalesOrderHeader>

@{
    ViewData["Title"] = "IndexAll";
}

<h1>IndexAll</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipMethod)
            </th>
            <th>
                訂單數量（SalesOrderDetail）
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipMethod)
            </td>
            >
            <td>
                    @Html.DisplayFor(modelItem=>item.SalesOrderDetails.Count)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.SalesOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SalesOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SalesOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
