@model Shopping.Models.Product

@{
    ViewData["Title"] = "DetailsPicture";
}

<h1>DetailsPicture</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscontinuedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscontinuedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbNailPhoto)
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.ThumbNailPhoto)*@
            @if(Model.ThumbNailPhoto != null)
            {
                <div class="photo-display">
                    <img width="100" height="100" src="@Url.Action("GetImage","Shop",new{id=Model.ProductId})">
                </div>
            }
            <div class="photo-display">
                <img width="100" height="100" src="@Url.Content($"~/uploadfiles/{Model.ThumbnailPhotoFileName}")"/>
            </div>
            <br />
            <br />
            <!-- *** 購物車 ***************************************************** -->
            購買數量：
            <form asp-action="CartCookie" asp-controller="Login">
                <select id="OrderQty" name="OrderQty">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <input type="hidden" name="PID" value="@Html.DisplayFor(m=>m.ProductId)" /> <!-- 隱藏欄位，偷偷記錄下這一筆「產品ID」 -->
                <div class="form-group">
                    <input type="submit" value="加入購物車" class="btn btn-primary" />
                </div>

            </form>
            <br />
            <br />
            <!-- ============================================= -->
            <form asp-action="CartBuy" asp-controller="Login">
            <div class="form-group">
                <input type="submit" value="付款結帳" class="btn btn-primary" />
            </div>

            </form>
            @* 付款結帳 - LoginDB控制器 的 CartBuy動作 *@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbnailPhotoFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThumbnailPhotoFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rowguid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rowguid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCategory.ProductCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductModel.ProductModelId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
